.bugsbyLogo {
    font-weight: 900 !important;
    font-size: 4vh !important;
}

.title {
    font-weight: 600 !important;
    font-size: 4vh !important;
    color: #112d4e !important;
}

.subTitle {
    font-size: 3.5vh !important;
    color: #112d4e !important;
}

.subSubTitle {
    font-size: 2.5vh !important;
    color: #112d4e !important;
}

.borderedContainer {
    width: 100%;
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgb(155, 154, 154);
}

.link {
    color: #3F72AF;
}

.link:visited, .link:link {
    text-decoration: none;
}

.content {
    background-color: #f9f7f7;
    height: 100vh;
}

.contentImplicitHeight {
    background-color: #f9f7f7;
}

.button {
    background-color: #3F72AF !important;
}

.button:hover {
    background-color: #112d4e !important;
}

.textField {
    background-color: white;
}

.formBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 15px;
}